body {
    font-family: Arial;
    background-color: #f0f8ff;
    text-align: center;
}

form {
    background: white;
    padding: 20px;
    width: 320px;
    margin: auto;
    border-radius: 10px;
}

input {
    width: 90%;
    padding: 6px;
}

button {
    padding: 8px;
    background-color: blue;
    color: white;
    border: none;
    cursor: pointer;
    margin: 5px;
}
